.recordContainer {
}

.sideBar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 100%;
  background-color: #363d50;
}

.sideBar-logo {
  padding: 36px 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 108px;
  }
}

.sideBar-menuContainer {
  display: flex;
  flex-direction: column;
}

.sideBar-menu {
  color: #e4e4e4;
  padding: 14px;
  padding-left: 46px;
  font-size: 18px;
  a {
    color: inherit;
    text-decoration: none;
  }
  &.active,
  &:hover {
    background-color: #2f3545;
  }
}

.recordDashBoardSizer {
  background-color: #2f3545;
  padding: 60px 40px;
  position: fixed;
  width: 1080px;
  left: 200px;
  top: 0px;
}

.recordDashBoard {
  display: grid;
  grid-auto-rows: 365px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}

.boardWithTitle {
  .recordDashBoard-title {
    height: 55px;
    color: #e4e4e4;
    font-size: 20px;
  }
}

.videoContainer {
  width: 100%;
  height: 310px;

  .videoHeader {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    background-color: rgba(0, 0, 0, 0.2);
    div {
      font-size: 10px;
      color: #e4e4e4;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .status img {
      width: 20px;
    }
  }
  video,
  .video {
    height: 270px;
    width: 100%;
    background-color: #363d50;
  }
}

.mainVideoContainer {
  grid-column-end: span 2;
  video,
  .video {
    width: 100%;
    height: 100%;
    background-color: #363d50;
  }
}
