@import url("https://fonts.googleapis.com/css?family=Krub");

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #2f3545;
}

* {
  font-family: "Krub", sans-serif;
  box-sizing: inherit;
}
