@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #2f3545;
}

* {
  font-family: "Nanum Barun Gothic", sans-serif;
  box-sizing: inherit;
}
